/*
Maria Bailey
Sec 001
12/15/2022
*/

body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;
    color: rgb(36, 42, 48);
    background-color: antiquewhite;
}

ul{
    font-style: italic;
}